<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
    <ul class="ds-btn">
        <li>
             <a class="btn btn-lg btn-primary" href="/000000-099999">
          <i class="glyphicon glyphicon-user pull-left"></i><span>0 - 1L<br></span></a> 
            
        </li>
        <li>
             <a class="btn btn-lg btn-success " href="/100000-199999">
         <i class="glyphicon glyphicon-dashboard pull-left"></i><span>1 - 2L<br></span></a> 
            
        </li>
        <li>
             <a class="btn btn-lg btn-danger" href="/200000-299999">
         <i class="glyphicon glyphicon-tasks pull-left"></i><span>2 - 3L<br></span></a> 
            
        </li>
        <li>
               <a class="btn btn-lg btn-warning" href="/300000-399999">
        <i class="glyphicon glyphicon-search pull-left"></i><span>3L - 4L<br></span></a> 
        </li>
        <li>
               <a class="btn btn-lg btn-info" href="/400000-499999">
         <i class="glyphicon glyphicon-list pull-left"></i><span>4L - 5L<br></span></a> 
        </li>
    </ul>
    
	</div>
</div>

<style type="text/css">
.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}
</style>